<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="OFF" />
    <logger name="org.springframework.http" level="OFF" />
    <logger name="io.reactivex" level="OFF" />
    <logger name="com.couchbase.client" level="DEBUG" />
    <logger name="acme" level="DEBUG" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white(%r) %highlight(%-5level) [%blue(%thread)] %yellow(%c): %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
