<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.http" level="DEBUG" />
    <logger name="acme" level="DEBUG" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%white(%-4r) %highlight(%-5level) [%blue(%thread)] %yellow(C:%X{correlation}): %msg%n%throwable</pattern>
        </layout>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
